/* Add this to your styles.css or App.css */
/* 
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
} */

/* .image-container {
  width: 100%;
  height: 200px; 
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
} */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  height: 150px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or object-fit: contain; depending on your design preference */
}

/* App.css */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
}
/* Add these styles to your CSS */
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.custom-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* styles.css (or any other styling solution you are using) */
.cart-icon {
  position: relative;
  cursor: pointer;
}

.item-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red; /* Customize the background color as needed */
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}


